@-webkit-keyframes pulsate {
    0% {
      background: $white;
      color: $near-black;
    }

    50% {
      background: lighten($near-white, 9%);
      color: saturate($near-black, 7%);
    }

    100% {
      background: $near-white;
      color: $near-black;
    }
}

.bg-pulsate {
    animation: pulsate 4s alternate infinite
}