/*

  STYLES

  Add custom styles here.

*/


.tnr {
  font-family: 'Times New Roman', Times, serif;
  /*src: url('../07YsashisaGothicTegaki.otf') format('opentype'); */ }

  .opaque {
  	background-color: rgba(255,255,255,0.3);   
  }

  .supermega  { font-size: 14rem; }